<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-应用扩展探究.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test-PhotoEditingExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test-shareE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test-自定义键盘-Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>todayE-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70288B951BC79A9A007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288BAE1BC79A9A007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288BB91BC79A9A007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288BCF1BC79AC2007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288BE61BC79D89007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288BF91BC7A100007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288C101BC7A781007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
